*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #FDFDFD;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    height: 450px;
    width: 320px;
    background: white;
    border: 1px solid lightgrey;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
    box-shadow: 3px 3px 4px 0 lightgrey;
}
.data-container{
    height: 60px;
    width: 100%;
    background: rgba(211, 211, 211, 0.2);
    border-bottom: 1px solid #c5c7d4;
    position: absolute;
}
.data{
    color: darkviolet;
    font-size: 18px;
    margin-top: 10px;
    margin-left: 20px;
    font-weight: 300;
}
.data:first-letter{
    text-transform: uppercase;
}
.month{
    font-size: 12px;
    margin-top: 5px;
    margin-left: 20px;
    color: black;
    font-weight: 300;
}
.month:first-letter{
    text-transform: uppercase;
}
.number-of-tasks{
    font-size: 13px;
    position: absolute;
    top: 17px;
    right: 15px;
    color: lightseagreen;
    font-weight: 300;
}
.task-list-container{
    height: 290px;
    width: 100%;
    position: absolute;
    top: 100px;
    overflow: hidden;
    overflow-y: scroll;
}
.input-div{
    position: absolute;
    bottom: 0;
    height: 60px;
    width: 100%;
    background: rgba(211, 211, 211, 0.2);
    border-top: 1px solid #c5c7d4;
}
.task-input{
    all: unset;
    height: 38px;
    width: 225px;
    background: white;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 42%;
    transform: translate(-50%,-50%);
    padding-left: 15px;
    caret-color: lightskyblue;
    border: 1px solid #c5c7d4;
    color: grey;
}
.add-task-btn{
    all: unset;
    position: absolute;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    background: tomato;
    top: 50%;
    right: -5px;
    transform: translate(-50%,-50%);
    color: white;
    font-size: 25px;
    cursor: pointer;
}
.add-task-btn:hover{
    box-shadow: 2px 2px 2px 0 lightgrey;
}
.task-menu-container{
    border-bottom: 1px solid #c5c7d4;
    height: 40px;
    width: 100%;
    position: absolute;
    top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(211, 211, 211, 0.2);
}
.task-menu-container > span{
    color: grey;
    font-size: 13px;
    margin-left: 13px;
    position: relative;
    left: -50px;
    cursor: pointer;
}
.task-menu-container > span:hover{
    color: black;
}
.clear-all-btn{
    all: unset;
    position: relative;
    left: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: white;
    background: lightskyblue;
    padding: 5px;
    border-radius: 3px;
    cursor: pointer;
}
.clear-all-btn:hover{
    box-shadow: 2px 2px 2px 0 lightgrey;
    background: maroon;
}
.task-list{
    height: 50px;
    width: 100%;
    position: relative;
    top: 30px;
    left: 50%;
    transform: translate(-50%,-50%);
    background: white;
    border-bottom: 1px solid #c5c7d4;
}
.checkbox{
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translate(-50%,-50%);
}
.task{
    color: rgba(128, 128, 128, 0.9);
    font-size: 12px;
    position: relative;
    top: 50%;
    margin-left: 145px;
    transform: translate(-50%,-50%);
    width: 220px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 300;
}
::placeholder{
    /*color: rgba(75, 210, 202, 0.8);*/
    color: rgba(128, 128, 128, 0.5);
    font-size: 15px;
}
.fa-ellipsis{
    color: rgba(128, 128, 128, 0.9);
    float: right;
    margin-right: 15px;
    font-size: 13px;
}
.checked{
    text-decoration: line-through;
}
.edit-btn,.delete-btn{
    left: 84%;
    font-size: 12px;
    word-spacing: 3px;
    cursor: pointer;
    position: relative;
}
.edit-btn{
    position: absolute;
    margin-top: 3px;
    top: 3px;
    right: 25px;
    color: rgba(128, 128, 128, 0.5);
}
.edit-btn:hover{
    color: green;
    font-weight: bold;
}
.delete-btn{
    position: absolute;
    margin-top: 5px;
    top: 19px;
    right: 15px;
    color: rgba(128, 128, 128, 0.5);
}
.delete-btn:hover{
    color: red;
    font-weight: bold;
}
.active{
    text-decoration: underline;
}
.no-task-message{
    position: absolute;
    top: 54%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: rgba(128, 128, 128, 0.5);
    white-space: nowrap;
    font-size: 11px;
}
.fa-clipboard-list{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: rgba(128, 128, 128, 0.3);
    font-size: 50px;
}